@charset "utf-8";

@include media(sm) {

  .l-breadcrumbs {
    left: 0;
    position: absolute;
    top: #{$smHeaderH + 11px};
    width: 100%;
    z-index: 1;

    &__inner {
      @include fz(10, 10);

      padding: 0 $smSpace;
      width: 100%;

      > span {
        @include notfirst {
          margin-left: 11px;

          &:before {
            height: 10px;
            top: 1px;
            width: 1px;
          }

          a {
            margin-left: 14px;
          }
        }
      }

      a {
        letter-spacing: .6px;
      }
    }
  }
}
