@charset "utf-8";

// デバッグ用スタイル
// ----------------------------------------------------------

.notification {

  &__alert {
    @include fz(13, 13, 700);

    background-color: crimson;
    color: #fff;
    display: inline-block;
    padding: 10px;
  }
}

// 表示可視化用の囲い
// ----------------------------------------------------------

.u-temp__wrap {
  @include fz(14, 24, 400);

  background-color: #f7f8f9;
  border-radius: 6px;
  padding: 30px;

  @include notfirst {
    margin-top: 30px;
  }

  &--tit {
    @include fz(14, 14, 400);

    border-bottom: 1px solid #ddd;
    color: #999;
    font-style: italic;
    margin: 0 0 40px;
    padding: 0 0 5px;
  }

  h1 {
    @include fz(20, 28, 700);
  }

  h2 {
    @include fz(16, 16, 700);
  }

  h3 {
    @include fz(15, 15, 700);

    border-left: 4px solid #999;
    margin-top: 20px;
    padding-left: 10px;
  }

  p {
    @include fz(15, 24, 400);

    color: #333;

    @include notfirst {
      margin-top: 15px;
    }

    span {
      background-color: #f3f3f3;
      border-radius: 3px;
      color: #999;
      margin-right: 10px;
      padding: 3px 6px;
    }
  }

  ul,
  ol {
    background-color: #fff;
    border-radius: 6px;
    margin: 20px 0;
    padding: 30px;

    li {
      list-style: none;

      @include notfirst {
        margin-top: 10px;
      }
    }
  }

  table {
    border: 1px solid #000;

    th,
    tr,
    td {
      border: 1px solid #000;
      padding: 10px;
    }
  }

  blockquote {
    background-color: #fff;
    border-left: 2px solid #999;
    margin: 20px 0;
    padding: 30px;

    cite {
      align-items: center;
      color: #999;
      display: flex;
      font-style: italic;
      margin-top: 5px;

      &:before {
        @include icon-ini;

        background-color: #999;
        height: 1px;
        margin-right: 5px;
        width: 10px;
      }
    }
  }

  img {
    // height: auto;
    // width: 100%;
  }
}
