@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.c-nav {
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    gap: rem(10);
    align-items: center;
  }

  &__item {
    position: relative;
    height: 100%;
  }

  &__link {
    @include fz(16, 16, 700);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(20) rem(13);
    white-space: nowrap;
    background: transparent;
    border-radius: 6px;
    transition:
      background-color $com-ms $com-es,
      color $com-ms $com-es;

    @include canhover {
      &:not(.is-active):hover {
        color: var(--primary-color);
        background-color: var(--bg-primary-color);
      }
    }

    @include mqw-down {
      @include fz(14);

      padding: rem(11) rem(20) rem(12);
    }

    &.is-active {
      color: var(--color-white);
      background-color: var(--primary-color);
    }

    svg {
      width: rem(18);
      min-width: rem(18);
      height: rem(18);
      margin-left: rem(10);
      fill: currentcolor;
      transition: fill $com-ms $com-es;

      @include mqw-down {
        width: rem(16);
        min-width: rem(16);
        height: rem(16);
        margin-left: rem(8);
      }
    }
  }
}
