services:
  wordpress:
    container_name: ${PREFIX}_container
    image: wordpress:latest
    depends_on:
      - db
    networks:
      - app_network
    ports:
      - '${WP_PORT:-8000}:80'
    volumes:
      - ./docker/php/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./app/WordPress:/var/www/html
      # Theme (built output)
      - ./packages/theme/dist:/var/www/html/wp-content/themes/${PREFIX}
      # Uploads
      - ./wp-uploads:/var/www/html/wp-content/uploads
      # Plugins (external + custom built plugins)
      - ./wp-plugins:/var/www/html/wp-content/plugins
    env_file: .env

  wpcli:
    image: wordpress:cli
    volumes:
      - ./docker/php/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./app/WordPress:/var/www/html
      - ./wp-plugins:/var/www/html/wp-content/plugins
    depends_on:
      - db
      - wordpress
    networks:
      - app_network
    env_file: .env
    user: xfs

  db:
    container_name: ${PREFIX}_db
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db-data:/var/lib/mysql
      - ./db-data:/docker-entrypoint-initdb.d
    networks:
      - app_network
    env_file: .env

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    networks:
      - app_network
    environment:
      PMA_HOST: db
    ports:
      - '${PMA_PORT:-8080}:80'
    volumes:
      - ./docker/phpmyadmin/phpmyadmin-misc.ini:/usr/local/etc/php/conf.d/phpmyadmin-misc.ini

networks:
  app_network:
    name: ${PREFIX}_network
    external: true

volumes:
  db-data:
    driver: local
