{
  "browsersync": {
    "browser": "google chrome",
    "proxy": "localhost:8000",
    "notify": false,
    "open": false,
    "ghostMode": {
      "clicks": false,
      "forms": false,
      "scroll": false
    },
    "https": false,
    "reloadOnRestart": true,
    "usePolling": true
  },
  "htmlmin": {
    "collapseWhitespace": false,
    "removeComments": false
  },
  "htmlminProduction": {
    "collapseWhitespace": true,
    "removeComments": true
  },
  "htmlbeautify": {
    "indent_size": 2,
    "preserve_newlines": false
  },
  "publishDir" : "/Users/higa/Desktop",
  "io": {
    "input": {
      "css": "src/assets/css/",
      "img": "src/assets/images/",
      "js": "src/assets/js/",
      "ejs": "src/"
    },
    "output": {
      "css": "dist/assets/css/",
      "img": "dist/assets/images/",
      "js": "dist/assets/js/",
      "php": "dist/"
    },
    "env": "./env.json",
    "siteSetting": "./setting.json"
  }
}
