includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    bootstrapFiles:
        - packages/theme/dist/inc/consts.php
    paths:
        - packages/theme/dist/
    ignoreErrors:
        -
            identifier: argument.type
        - '#^Variable \$post might not be defined\.#'
