@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.l-header {
  width: 100%;
  height: rem(64);
  border-bottom: 1px solid var(--color-border);

  @include mqw-down {
    height: rem(56);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    @include fz(18, 18, 700);

    @include mqw-down {
      @include fz(16, 16, 700);
    }
  }
}
