@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.c-breadcrumbs {
  &__inner {
    overflow: auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5) rem(10);
    align-items: center;
  }

  &__item {
    display: flex;
    gap: rem(5) rem(10);
    align-items: center;

    @include notlast {
      &::after {
        @include arrow(8, 1.5, currentColor, right);

        flex-shrink: 0;
      }
    }
  }
}
