@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.c-nav {
  &__list {
    display: flex;
    gap: rem(24);
    align-items: center;
  }

  &__link {
    @include fz(14, 14, 500);
    @include hover-opacity;

    color: inherit;
  }
}
