@charset "utf-8";

// ============================================
// Mixins - Index
// ============================================

@forward 'add-selection-color';
@forward 'arrow';
@forward 'aspect-ratio';
@forward 'browser/is-edge';
@forward 'browser/is-firefox';
@forward 'browser/is-safari-desktop';
@forward 'browser/is-safari-mobile';
@forward 'browser/is-safari';
@forward 'canhover';
@forward 'custom-scrollbar';
@forward 'ellipsis';
@forward 'even';
@forward 'first';
@forward 'fz';
@forward 'fzs';
@forward 'hide-text';
@forward 'hover-dark';
@forward 'hover-opacity';
@forward 'icon-ini';
@forward 'is-loaded';
@forward 'is-not-page';
@forward 'is-open-menu';
@forward 'is-page';
@forward 'is-scroll';
@forward 'last';
@forward 'letter-spacing';
@forward 'mq';
@forward 'mqh-down';
@forward 'mqh-up';
@forward 'mqw-down';
@forward 'mqw-up';
@forward 'no-select';
@forward 'notfirst';
@forward 'notlast';
@forward 'odd';
@forward 'orientation';
@forward 'os/is-android';
@forward 'os/is-ios';
@forward 'os/is-ipados';
@forward 'os/is-macos';
@forward 'placeholder';
@forward 'responsive-font-size';
@forward 'touch-support';
@forward 'triangle';
@forward 'type/is-type-mobile';
@forward 'type/is-type-tablet';
@forward 'vh100';
