@charset "utf-8";

@use 'sass:color';

// ============================================
// Color Functions
// ============================================

// convert-rgb
@function convert-rgb($color) {
  @return color.channel($color, 'red') color.channel($color, 'green') color.channel($color, 'blue');
}
