@charset "utf-8";

@use 'sass:math';

// ============================================
// Units Functions
// ============================================

// rem
@function rem($num, $size: md) {
  @if $size == md {
    @return #{math.div($num, 16)}rem;
  } @else if $size == sm {
    @return #{math.div(math.div($num, 2), 16)}rem;
  }
}

// vw
@function vw($num, $size: md) {
  @if $size == md {
    @return (math.div($num, 1600)) * 100vw;
  } @else if $size == sm {
    @return (math.div($num, 375)) * 100vw;
  }
}

// vh
@function vh($num, $size: md) {
  @if $size == md {
    @return (math.div($num, 948)) * 100vh;
  } @else if $size == sm {
    @return (math.div($num, 844)) * 100vh;
  }
}
