@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.l-footer {
  position: relative;
  width: 100%;
  margin-top: auto;

  &__inner {
    display: flex;
    justify-content: center;
  }
}
