@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.l-footer {
  width: 100%;
  padding-top: rem(24);
  padding-bottom: rem(24);
  margin-top: auto;
  border-top: 1px solid var(--color-border);

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    @include fz(12, 12);

    color: var(--color-gray);
  }
}
