@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../abstracts' as *;

.l-header {
  position: relative;
  width: 100%;
  height: var(--header-h-md);
  color: var(--color-white);
  background-color: var(--color-black);

  @include mqw-down {
    height: var(--header-h-sm);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
