@charset "utf-8";

@use 'sass:map';
@use 'sass:math';
@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;
@use '../Foundation/functions' as *;

.l-header {
  position: relative;
  width: 100%;
  height: map.get($header-h, 'md');
  color: #fff;
  background-color: #000;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
