@charset "utf-8";

// ============================================
// Breakpoints
// ============================================

// Width breakpoints
$breakpoint-w: (
  xlg: 1920px,
  lg: 1440px,
  xmd: 1180px,
  md: 980px,
  sm: 640px,
  xs: 375px,
  xxs: 320px
) !default;

// Height breakpoints
$breakpoint-h: (
  xmd: 845px,
  md: 668px,
  sm: 635px,
  xs: 549px
) !default;
